<!doctype html>

<div style="font-family:Calibri; font-size:14px">
    <div>
        <div style="float:left;">
            <img src="~/Content/arçelik logo.jpg" />
        </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <div style="float:right; width:200px;">
            <p>
                <b> Arçelik – LG Klima Sanayi ve Ticaret A.Ş.</b>
                Gebze Organize Sanayi Bölgesi İhsan Dede Cad.
                No: 139 41480 Gebze/KOCAELİ
                Gebze Ticaret Odası, Ticaret Sicil No: 5337
                Tel  :  (262) 678 78 78
                Fax  : (262) 678 78 79
                www.arcelik-lg.com.tr
            </p>
        </div>
    </div>

    <div style="clear:both;"></div>
<div>
    <center><b>ARÇELİK-LG KLİMA SANAYİ VE TİCARET ANONİM ŞİRKETİ</b></center>
    <center><b>ÇALIŞAN ADAYI KİŞİSEL VERİLERİNİN İŞLENMESİ AYDINLATMA METNİ </b></center>
    <br />
    <b>a) Veri Sorumlusu ve Temsilcisi</b>
    <p>6698 sayılı Kişisel Verilerin Korunması Kanunu (“6698 sayılı Kanun”) uyarınca, kişisel verileriniz; veri sorumlusu olarak Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi (“Şirket”) tarafından aşağıda açıklanan kapsamda işlenebilecektir.</p>
    <br />
    <b>b) Kişisel Verilerin Hangi Amaçla İşleneceği </b>
    <p><b>Toplanan kişisel verileriniz, <i>kişisel verilerinizi bizlere açıklamanıza konu olan; iş başvuru talebinizin ve ilgili pozisyona uygunluğunuzun değerlendirilmesi çerçevesinde işe alım süreçlerinin yürütülmesi, sonuçlandırılması ve bu kapsamda sizinle veya bize referans olarak belirttiğiniz kişilerle iletişime geçilmesi, Şirketimiz insan kaynakları politikaları ve süreçlerinin planlanması ve icra edilmesi kapsamında; personel temin süreçlerinin yürütülmesi, üretim için gerekli olan insan kaynakları ihtiyaçlarının planlanması ve icrası, insan kaynakları süreçlerinin planlanması ve icrası, Şirket tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi kapsamında; iş sürekliliğinin sağlanması faaliyetlerinin planlanması ve/veya icrası</i> gibi amaçlarla veya benzer amaçlarla; 6698 sayılı Kanun’un 5. ve 6. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları dahilinde işlenecektir.</b></p>
    <br />
    <p>
        <b>Kişisel verilerinizin Şirketimiz tarafından işlenme amaçları konusunda detaylı bilgilere; <a href="https://www.arcelik-lg.com.tr">https://www.arcelik-lg.com.tr</a>  internet adresinden kamuoyu ile paylaşılmış olan Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi Kişisel Verilerin Korunması ve İşlenmesi Politikasından ulaşabilirsiniz.</b>
    </p>
    <br />
    <p><b>c) İşlenen Kişisel Verilerin Kimlere ve Hangi Amaçla Aktarılabileceği</b></p>
    <p>
        Toplanan kişisel verileriniz; yukarıda belirtilen amaçların gerçekleştirilmesi doğrultusunda; iş ortaklarımıza, hissedarlarımıza, tedarikçilerimize, bize referans olarak belirttiğiniz kişilere, kanunen yetkili kamu kurumlarına ve özel kişi veya kuruluşlar ile üçüncü kişilere ve yine bu amaçların yerine getirilmesi ile sınırlı olarak, koç holding A.Ş.’ye, Koç Holding a.ş. topluluk şirketleri’ne (topluluk şirketleri’nin tüm listesine şu linkten ulaşabilirsiniz: <a href="http://www.koc.com.tr/tr-tr/faaliyet-alanlari/sirketler">http://www.koc.com.tr/tr-tr/faaliyet-alanlari/sirketler</a>) 6698 sayılı Kanun’un 8. ve 9. maddelerinde belirtilen kişisel veri işleme şartları ve amaçları çerçevesinde <b>Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi Kişisel Verilerin Korunması ve İşlenmesi Politikasında</b> belirtilen amaçlarla sınırlı olarak aktarılabilecek, yurtiçinde veya yurtdışında işlenebilecektir.
    </p>
    <br />

    <p>
        <b>ç) Kişisel Veri Toplamanın Yöntemi ve Hukuki Sebebi </b>
    </p>
    <br />
    <p>
        Kişisel verileriniz Şirket tarafından farklı kanallar ve farklı hukuki sebeplere dayanarak fiziki ve/veya elektronik ortamlarda toplanmakta ve muhafaza edilmektedir. Kişisel verileriniz, size hak ve menfaatler sağlanması, Şirket içi faaliyetlerin sürdürülmesi ve geliştirilmesi ve mevzuattan doğan yükümlülüklerin yerine getirilmesi gibi hukuki sebeplere dayanılarak toplanmaktadır.
    </p>
    <br />
    <p>
        <b>d) Kişisel Veri Sahibinin 6698 sayılı Kanun’un 11. maddesinde Sayılan Hakları</b>
        <br />
    </p>
    <p>
        Kişisel veri sahipleri olarak, haklarınıza ilişkin taleplerinizi <a href="https://www.arcelik-lg.com.tr">https://www.arcelik-lg.com.tr</a> internet adresinden kamuoyu ile paylaşılmış olan Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi <b>Kişisel Verilerin Korunması ve İşlenmesi Politikasında</b> düzenlenen yöntemlerle Şirketimize iletmeniz durumunda Şirket talebin niteliğine göre talebi en kısa sürede ve en geç otuz gün içinde ücretsiz olarak sonuçlandıracaktır. Ancak, işlemin ayrıca bir maliyeti gerektirmesi hâlinde, Şirket tarafından Kişisel Verileri Koruma Kurulunca belirlenen tarifedeki ücret alınacaktır. Bu kapsamda kişisel veri sahipleri;    
        <ul>
            <li>Kişisel veri işlenip işlenmediğini öğrenme,</li>
            <li>Kişisel verileri işlenmişse buna ilişkin bilgi talep etme,</li>
            <li> Kişisel verilerin işlenme amacını ve bunların amacına uygun kullanılıp kullanılmadığını öğrenme,</li>
            <li>Yurt içinde veya yurt dışında kişisel verilerin aktarıldığı üçüncü kişileri bilme,</li>
            <li> Kişisel verilerin eksik veya yanlış işlenmiş olması hâlinde bunların düzeltilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
            <li> 6698 sayılı Kanun ve ilgili diğer kanun hükümlerine uygun olarak işlenmiş olmasına rağmen, işlenmesini gerektiren sebeplerin ortadan kalkması hâlinde kişisel verilerin silinmesini veya yok edilmesini isteme ve bu kapsamda yapılan işlemin kişisel verilerin aktarıldığı üçüncü kişilere bildirilmesini isteme,</li>
            <li> İşlenen verilerin münhasıran otomatik sistemler vasıtasıyla analiz edilmesi suretiyle kişinin kendisi aleyhine bir sonucun ortaya çıkmasına itiraz etme,</li>
            <li>Kişisel verilerin kanuna aykırı olarak işlenmesi sebebiyle zarara uğraması hâlinde zararın giderilmesini talep etme haklarına sahiptir.</li>
        </ul>
    </p>

    <center><b>REFERANS TAAHHÜDÜ</b></center>
    <br />
    <p>Referans olarak belirttiğim kişiler ile referans kontrolü yapılması amacıyla iletişime geçilebileceğini, kişisel verilerin Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi ile paylaşılabilmesine yönelik gerekli bilgilendirmenin yapıldığını/izinlerin alındığını taahhüt ederim. Bu doğrultuda referans olarak gösterdiğim kişilerin de benimle ilgili verdikleri tüm bilgilerin Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi tarafından işlenmesine izin veriyorum.</p>
    <br />
    <p><b>ARÇELİK-LG KLİMA SANAYİ VE TİCARET ANONİM ŞİRKETİ ÇALIŞAN ADAYI KİŞİSEL VERİLERİNİN İŞLENMESİ RIZA METNİ </b></p>
    <br />
    <p>Arçelik-LG Klima Sanayi ve Ticaret Anonim Şirketi tarafından; <b>insan kaynakları politikaları ve süreçlerinin planlanması ve icra edilmesi kapsamında</b>, personel temin süreçlerinin yürütülmesi, insan kaynakları süreçlerinin planlanması,  işe uygunluğumun ve yetkinliğimin objektif bir şekilde değerlendirilmesi ve sonuçlandırılması, <b>Şirket tarafından yürütülen ticari faaliyetlerin gerçekleştirilmesi için ilgili iş birimlerimiz tarafından gerekli çalışmaların yapılması ve buna bağlı iş süreçlerinin yürütülmesi kapsamında, iş sürekliliğinin sağlanması faaliyetlerinin planlanması ve/veya icrası gibi amaçlarla veya benzer amaçlarla kişisel verilerimin ve sağlık, ceza mahkumiyet bilgisi üyeliği gibi bilgiler başta olmak üzere özel nitelikli kişisel verilerimin</b> işlenmesini ve iş ortaklarımızla, hissedarlarımızla, tedarikçilerimizle, bize referans olarak belirttiğiniz kişilerle, kanunen yetkili kamu kurumları ve özel kişi veya kuruluşlar ile üçüncü kişilerle ve yine bu amaçların yerine getirilmesi ile sınırlı olarak Koç Holding A.Ş. ile Koç Holding A.Ş. Topluluk Şirketleri ile (Topluluk Şirketleri’nin tüm listesine şu linkten ulaşabilirsiniz: <a href=">http://www.koc.com.tr/tr-tr/faaliyet-alanlari/sirketlerhttp://www.koc.com.tr/tr-tr/faaliyet-alanlari/sirketler</a>) ve <b>yurt içindeki veya yurt dışında dışarıdan hizmet alınan üçüncü kişilerle</b>, hizmet sağlayıcılarla paylaşılmasını kabul ediyorum.</p>
</div>
</div>
